Options +FollowSymlinks
RewriteEngine On

# deal with admin first
RewriteCond %{REQUEST_URI} ^/ssim-management/(admin)
RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
RewriteRule ^admin/css/(.*)$ backend/web/images/$1 [L]

RewriteCond %{REQUEST_URI} !^/ssim-management/backend/web/(assets|css|images)/ 
RewriteCond %{REQUEST_URI} ^/ssim-management/(admin)  
RewriteRule ^.*$ backend/web/index.php [L]


RewriteCond %{REQUEST_URI} ^/ssim-management/(assets|css) 
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/images/$1 [L]

RewriteCond %{REQUEST_URI} !^/ssim-management/(frontend|backend)/web/(assets|css|images)/  
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php